<html>
  <head><title>JSONを読み込む例</title></head>
  <body>
    <form>
    <div class="stationSelector">
     Start
    <select name="start">
      {{range .Network}}
        {{range .Stations}}
          <option value="{{.}}"> {{.}} </option>
        {{end}}
      {{end}}
    </select>
  </div> <!-- start -->
  <div class="stationSelector">
    End
      <select name="dest">
        {{range .Network}}
          {{range .Stations}}
            <option value="{{.}}"> {{.}} </option>
          {{end}}
        {{end}}
      </select>
      <input type=submit>
    </form>
    </div>
    <ul>
      <li> A = {{.Norikae.Start}} </li>
      <li> B = {{.Norikae.Dest}} </li>
      <li> line = {{.CurrLine}}</li>
    </ul>
  </body>
</html>
